body {
  font-family: Arial, sans-serif;
}

.Login-container,
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 10px solid #ccc;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0px;
  top:0px;
  width: 100%;
  border: 10px solid #ccc;
}
.top-main {
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: #45a049;
}
.banner {
  text-align: center;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.login-link {
  text-align: center;
  margin-top: 10px;
}
